{
  "presets": ["env","flow"],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    ["debug-macros", {
      "envFlags": {
        "source": "@macros/env-flags",
        "flags": {"DEBUG": false }
      },
      "debugTools": {
        "source": "debug-tools"
      }
    }]
  ]
}